before_install:
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  - docker --version
  - nvm install 8
  - docker swarm init
  - docker network create -d overlay --attachable hobbit
language: java
jdk:
  - openjdk8
  - openjdk11
  - oraclejdk11
script:
  - make test
services:
  - docker
sudo: required
cache:
  directories:
    - $HOME/.m2
    - $HOME/.npm
    - hobbit-gui/gui-client/node_modules
