<div class="container">
  <app-page-header>
    <div class="row">
      <div class="col-md-8">
        <h1>Task {{task?.name}}</h1>
      </div>
      <div class="col-md-4">
        <div class="pull-right">
          <div *ngIf="!canEdit()">
            <app-back-button></app-back-button>
          </div>
          <div *ngIf="canEdit()">
            <button type="button" class="btn btn-danger" [disabled]="!loaded || !canEdit() || adding" (click)="deleteTask()">Delete</button>
            <app-back-button [pullRight]="false"></app-back-button>
            <button type="button" class="btn btn-primary" [disabled]="!loaded || !canEdit() || !canSave()" (click)="saveTask()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </app-page-header>

  <div class="row" *ngIf="loaded">
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" [readonly]="!canEdit()" [(ngModel)]="task.name" class="form-control" placeholder="Name"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" name="description" rows="4" [readonly]="!canEdit()" [(ngModel)]="task.description" class="form-control"
            placeholder="Description">
          </textarea>
        </div>
        <div class="form-group">
          <label for="benchmark">Benchmark</label>
          <select *ngIf="benchmarksLoaded" [disabled]="!canEdit()" class="form-control" id="benchmark" required [ngModel]="selectedBenchmarkId"
            (ngModelChange)="selectedBenchmarkId = $event; onChangeBenchmark();" name="benchmark" [title]="selectedBenchmark ? selectedBenchmark.description : ''">
            <option *ngFor="let b of benchmarks" [value]="b.id" [title]="b.description ? b.description : ''">{{b.name}}</option>
          </select>
        </div>

        <app-benchmark-config *ngIf="selectedBenchmark && canEdit()" [benchmark]="selectedBenchmark" #configparams></app-benchmark-config>
      </form>
    </div>
  </div>
</div>


<p-confirmDialog width="425"></p-confirmDialog>