<sg-app-page-header>
  <div class="col-md-8">
    <h1>Challenge {{challenge?.name}}</h1>
  </div>
  <div class="col-md-4">
    <div class="pull-right">
      <div *ngIf="!editPermission">
        <button type="button" class="btn btn-default" (click)="cancel()">Back</button>
      </div>
      <div *ngIf="editPermission">
        <button *ngIf="!adding" type="button" class="btn btn-danger" (click)="deleteChallenge()">Delete</button>
        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveChallenge()">Save</button>
      </div>
    </div>
  </div>
</sg-app-page-header>

<div class="container">
  <sg-wait-loading [loaded]="loaded"></sg-wait-loading>
  <sg-show-error [error]="error"></sg-show-error>

  <div *ngIf="loaded">
    <div class="row">
      <div class="col-md-8">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" [readonly]="!editPermission" [(ngModel)]="challenge.name" class="form-control" placeholder="Name"
            />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" rows="4" [readonly]="!editPermission" [(ngModel)]="challenge.description" class="form-control"
              placeholder="Description">
            </textarea>
          </div>
          <div class="form-group">
            <label for="organizer">Organizer</label>
            <input type="text" id="organizer" name="organizer" [readonly]="!editPermission" [(ngModel)]="challenge.organizer" class="form-control"
              placeholder="Organizer" />
          </div>
          <div class="form-group">
            <label for="execdate">Execution Date</label>
            <input type="date" id="execdate" name="execdate" [readonly]="!editPermission" [(ngModel)]="challenge.executionDate" class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="pubdate">Publish Date</label>
            <input type="date" id="pubdate" name="pubdate" [readonly]="!editPermission" [(ngModel)]="challenge.publishDate" class="form-control"
            />
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="published" [(ngModel)]="challenge.published" [disabled]="!editPermission"> Published
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="closed" [(ngModel)]="challenge.closed" [disabled]="!editPermission"> Closed
            </label>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="adding" class="alert alert-info" role="alert">
      You need to save the new challenge before you can add tasks.
    </div>
    <div *ngIf="!adding">
      <div class="row">
        <div class="col-md-2">
          <h2>Tasks</h2>
        </div>
        <div class="col-md-6">
          <div class="pull-right">
            <br>
            <button *ngIf="editPermission" type="button" class="btn btn-default" (click)="showSystemRegistration()">Show System Registration</button>
            <button *ngIf="registerPermission" type="button" class="btn btn-warning" (click)="registerSystems()">Register Systems</button>
            <button *ngIf="editPermission" type="button" class="btn btn-primary" (click)="addTask()">Add Task</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <p-dataTable *ngIf="!!challenge.tasks" [value]="challenge.tasks" selectionMode="single" [(selection)]="selectedTask" (onRowSelect)="onSelect($event)">
            <p-column field="name" header="Name" [sortable]="true"></p-column>
            <p-column field="description" header="Description" [sortable]="false"></p-column>
            <p-column header="Benchmark" [sortable]="true">
              <template let-col let-task="rowData" pTemplate type="body">
                {{task.benchmark?.name}}
              </template>
            </p-column>
          </p-dataTable>
        </div>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog width="425"></p-confirmDialog>
