<div class="form-group" [formGroup]="form">
    <div class="form-check" *ngIf="config.getType() === 'boolean'; else formgroup">
        <label class="form-check-label" [attr.for]="config.id">
            <input type="checkbox" class="form-check-input" [formControlName]="config.id" [id]="config.id"
                   [checked]="form.value[config.id] === 'true'"
                   [title]="config.description" (change)="updateCheckbox($event)">
            {{config.name}}
        </label>
    </div>

    <ng-template #formgroup>
        <label [attr.for]="config.id">{{config.name}}</label>

        <div [ngSwitch]="config.getType()">
            <input *ngSwitchCase="'input'" [formControlName]="config.id" [id]="config.id" [type]="config.getInputType()"
                [title]="config.description" class="form-control">

            <select *ngSwitchCase="'dropdown'" [formControlName]="config.id" [id]="config.id" class="form-control">
                <option *ngFor="let value of config.options" [value]="value.value">{{value.label}}</option>
            </select>

            <p *ngSwitchDefault>
                Unable to render input of type {{config.getType()}}.
            </p>
        </div>
    </ng-template>
</div>
