/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~ng2-slim-loading-bar/bundles/style.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/bootstrap/theme.css";

/* footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}
/* /footer */

button.btn {
    cursor: pointer;
}
