/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~ng2-slim-loading-bar/bundles/style.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/bootstrap/theme.css";

/* footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}
/* /footer */

button.btn {
    cursor: pointer;
}

/* Prevent Bootstrap's modal dialog from being too narrow */
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px;
  }
}

/* Prevent PrimeNG DataTable headers from being unselectable */
.ui-unselectable-text {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -o-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

/* Reduce the padding in PrimeNG DataTable */
.ui-datatable.ui-datatable-resizable .ui-datatable-thead > tr > th,
body .ui-datatable .ui-datatable-data > tr > td {
  padding: 0.25em !important;
}
