<form>
  <div class="form-group">
    <label for="values">Value</label>
    <select class="form-control" id="values">
      <option selected>Pearson correlation coefficient</option>
    </select>
  </div>

  <div class="form-group">
    <label for="kpis">KPI</label>
    <select class="form-control" id="kpis" required [title]="selectedKPI ? selectedKPI.description : ''"
      [ngModel]="configModel.kpi" (ngModelChange)="onChangeKPI($event)" name="kpis">
      <option *ngFor="let k of kpis" [value]="k.id" [title]="k.description">{{k.name}}</option>
    </select>
  </div>
</form>

<div style="overflow-x: scroll;">
  <canvas #canvas width="600" height="400">
  </canvas>
</div>
