<div class="container">
  <app-page-header>
    <div class="row">
      <div class="col-md-8">
        <h1>Registrations for Challenge {{challenge?.name}}</h1>
      </div>
      <div class="col-md-4">
        <div class="pull-right">
          <button type="button" class="btn btn-default" (click)="cancel()">Back</button>
        </div>
      </div>
    </div>
  </app-page-header>


  <div *ngIf="loaded">
    <div class="row">
      <div class="col-md-12">
        <p-dataTable *ngIf="!!challenge.tasks" [value]="challenge.tasks" sortField="name">
          <p-column field="name" header="Task" [sortable]="true">
            <ng-template let-col let-task="rowData" pTemplate="body">
              <h3><a [routerLink]="['/challenges',challenge.id,'edit',task.id]">{{task.name}}</a></h3>
              <p>Benchmark: {{task.benchmark?.name}}</p>
              <p>{{task.description}}</p>
            </ng-template>
          </p-column>
          <p-column header="Systems" [sortable]="false">
            <ng-template let-col let-task="rowData" pTemplate="body">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let entry of display[task.id]">{{entry.id}}</li>
              </ul>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>